.portfolio__container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-bottom: 100px;
}

.portfolio_text {
  padding-top: 2vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: black;
}

.block {
  height: 100%;
  display: flex;
  width: 100%;
  min-height: 450px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.portfolio_buttons {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
}

.button {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  margin: 3px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 25px;
  background: transparent;
}
.button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.portfolio_photos {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.responsive_image {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .portfolio_text {
    font-size: 30px;
  }
  .responsive_image {
    max-width: 80%;
  }
}

@media (max-width: 1260px) {
  .portfolio_buttons {
    margin-left: 0;
    margin-bottom: 5vw;
  }
  .block {
    flex-direction: column;
  }
  .portfolio_photos {
    width: 100%;
  }
  .responsive_image {
    max-width: 80%;
    padding-bottom: 5vw;
  }
}
